@model Sample_CRUD.Models.Country

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Country Details</legend>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.CountryId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CountryId)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.CountryName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CountryName)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.CountryCode)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CountryCode)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.Capital)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Capital)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.CreatedBy)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CreatedBy)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.CreatedOn)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CreatedOn)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.CountryId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
